<div id="sidebar">

<h2>Archives</h2>

<p>Browse the <%= link_to('post archives', :controller => 'archives') %>.</p>

<hr />

<h2>Subscribe</h2>

<p>
Subscribe to the <a title="Full-text RSS feed" href="http://feeds2.feedburner.com/heroku">full-text RSS feed</a> or the <a href="http://heroku.disqus.com/latest.rss">comments feed</a>.
</p>

<div id="sidebar_bottom"></div>

</div>
