<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= @blog.name %> | Blog</title>
	<%= stylesheet_link_tag 'admin', :media => 'all' %>
</head>
<body>
<div id="bodywrap">
	<div id="header">
		<a id="title" href="/"><%= @blog.name %> | Blog</a>
		<%= link_to 'Posts', :controller => 'admin/post', :action => :list %>
	</div>

	<div id="content">
		<% if flash[:notice] %>
			<div class="notice"><%= flash[:notice] %></div>
		<% end %>

		<%= yield %>
	</div>
</div>
</body>
</html>
